.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

.gradle/

.idea/
out/
*.iml
*.ipr
*.iws
/depemdency-manager/build/
/dependency-manager/build/
/common-test/build/
/dependency-manager/bin/
/testapp-kotlin-service/build/
/common-test/bin/main/com/apgsga/gradle/test/utils/
/ssh-common/build/
/rpm-ssh-deployer/build/
/integration/testapp-bom/target/
/integration/testapp-module/target/
/integration/testapp-pkg/log.log
/sandbox/testapp-kotlin-service/build/
/sandbox/jenkins-pipeline-tests/build/
/integration/jenkins-pipeline-tests/mvn-simple/build/x
/integration/modules/Jenkinsfile
/integration/modules/testapp-service@tmp/
/integration/modules/testapp-pkg@tmp/
/integration/modules/testapp-parentpom@tmp/
/integration/modules/testapp-module@tmp/
/integration/modules/testapp-bom@tmp/
/integration/jenkins-pipeline-tests/mvn-simple/jenkinsHome/
/integration/modules/testapp-bom/target/
/integration/modules/testapp-module/target/
/integration/jenkins-pipeline-tests/create-jenkins-image/build/docker/
/sandbox/docker-sshd-compose/build/docker/
/integration/jenkins-pipeline-tests/buildpkg-test/jenkinsHome/
/sandbox/docker-sshclient-debian/build/docker/
/integration/jenkins-pipeline-tests/create-sshd-image/build/docker/
/sandbox/docker-sshd-compose/build/.docker/
/integration/jenkins-pipeline-tests/build/.docker/
/modules/Jenkinsfile
