<?xml version="1.0" encoding="UTF-8"?>

<configuration>

	<appender name="file"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- Support multiple-JVM writing to the same log file -->
		<File>log/${pkgName}.log</File>
		<Prudent>true</Prudent>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- roll hourly -->
			<FileNamePattern>../log/${pkgName}.%d{yyyy-MM-dd_HH}.log
			</FileNamePattern>
			<!-- keep 5 days (5 x 24) worth of history -->
			<MaxHistory>120</MaxHistory>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%X{username} %d %p %c - %m%n</pattern>
		</encoder>
	</appender>
	


	<root level="\${root-level:-INFO}">
		<appender-ref ref="file" />
	</root>

	<logger name="org.springframework" level="\${logger-level:-ERROR}" />
	

</configuration>