<configuration>
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d %p [%c] - &lt;%m&gt;%n</pattern>
    </encoder>
  </appender>
  <logger name="org.apache" level="WARN" />
  <logger name="httpclient" level="WARN" /> 
  <root level="INFO">
    <appender-ref ref="stdout"/>
  </root>
</configuration>