[Unit]
Description=${targetServiceName} Server Service 

[Service]
ExecStart=${targetServiceExecDir}/bin/runJvm.sh
User=${targetServiceName}
WorkingDirectory=${targetServiceDataDir}
Restart=on-failure
RestartSec=90
StartLimitInterval=400
StartLimitBurst=3

[Install]
WantedBy=multi-user.target